<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.cyhgraph.mapper.ReaderMapper">

    <select id="page" resultType="fun.cyhgraph.entity.Reader">
        select * from reader
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null and categoryId != ''">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

    <update id="update">
        update reader
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="wAddress != null">w_address = #{wAddress},</if>
            <if test="hAddress != null">h_address = #{hAddress},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="categoryId != null">category_id = #{categoryId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteBatch">
        delete from reader where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>